
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 67 3% 18%;
    --foreground: 0 0% 90%;

    --card: 67 3% 15%;
    --card-foreground: 0 0% 90%;

    --popover: 67 3% 15%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 67 3% 15%;

    --secondary: 67 5% 25%;
    --secondary-foreground: 0 0% 90%;

    --muted: 67 5% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 67 5% 25%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 67 5% 30%;
    --input: 67 5% 30%;
    --ring: 67 3% 45%;

    --radius: 0.5rem;

    --sidebar-background: 67 3% 18%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 67 3% 30%;
    --sidebar-primary-foreground: 0 0% 90%;
    --sidebar-accent: 67 4% 22%;
    --sidebar-accent-foreground: 0 0% 90%;
    --sidebar-border: 67 3% 25%;
    --sidebar-ring: 67 3% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    @apply overflow: hidden;
  }
}
